:root{
    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-primary-500: hsl(158, 36%, 20%);
    --clr-secondary-200: hsl(30, 38%, 92%);

    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-accent: 'Fraunces', serif;
    --ff-base: 'Montserrat', sans-serif;

    --fw-regular: 500;
    --fw-bold: 800;
}

*{
    margin: 0;
}

img,picture{
    display: block;
    max-width: 100%;
}

body{
    line-height: 1.7;
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--clr-neutral-400);
    background-color: var(--clr-secondary-200);

    /*for this projecct only*/
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 1rem;
}

.flex-group{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.visually-hidden:not(:focus):not(:active){
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.product{
    --content-padding: 1.5rem;
    --content-spacing: 0.5rem;

    display: grid;
    background-color: var(--clr-neutral-100);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 600px;
}

@media (min-width: 600px){
    .product{
        --content-padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

.product-content{
    padding: var(--content-padding);
    gap: var(--content-spacing);
    display: grid;
}

.product-category{
    font-size: 0.8125rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.product-title{
    line-height: 1.1;
    padding: 0;
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--clr-neutral-900);
    font-weight: var(--fw-bold);
}

.product-price{
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--clr-primary-400);
}

.button{
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;

    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
    border: none;
    border-radius: 0.5rem;
    font-size: 0.925rem;
}

.button[data-icon ="shopping-cart"]::before {
    content: "";
    width: 15px;
    height: 16px;
    background-image: url(images/icon-cart.svg);
}

.button:is(:hover, :focus){
    background-color: var(--clr-primary-500);
}